<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Login</h1>
  <form onsubmit="handleSubmitLogin()">
    <label>email</label>
    <input
      id="loginemail"
      placeholder="example@gmail.com"
      type="text"
      name="email"
    >
    </input>
    <br>
    <label>password</label>
    <input
    id="loginpassword"
    type="password"
    name="password"
    >
    </input>
    <br>
    <input type="submit" value="Submit"></label>
  </form>
    <div>
      <h3>Login using:</h3>
      <p>Google</p>
      <p>github</p>
    </div>
</body>
<script src="../public/client.js">
</script>
</html>